<p-sidebar [visible]="visibleBar" position="top" (scroll)="onScroll($event)" >
  <ul class="sidebar_custom" #sidebar>
    <li class="sidebar_custom-logo">
      <img src="../assets/logo/logo.png" alt="logo">
      <h3>Tân Lập</h3>
    </li>
    <li class="sidebar_custom-products"><h3>Sản phẩm</h3></li>
    <li class="sidebar_custom-projects"><h3>Dự án</h3></li>
    <li class="sidebar_custom-contacts"><h3>Liên hệ</h3></li>
  </ul>
</p-sidebar>
