.sidebar_custom {
  display: flex;
  flex-direction: row;
  font-size: 24pt;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  h3 {
    font-style: normal;
    text-transform: uppercase ;
    font-size: 18pt;
  }
  .sidebar_custom-logo {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 36pt;

    h3 {
      margin: 0;
      font-weight: bolder;
      padding-top: 30px;
      padding-left: 20px;
      padding-bottom: 0px;
      font-size: 36pt;
    }
    img{
      width: 120px;
      height: 120px;

    }
  }
  .sidebar_custom-products {
    margin-left: 342px;
  }
  .sidebar_custom-projects, .sidebar_custom-contacts {
    margin-left: 45px;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.change_custom {
  justify-content: space-around;
  padding: 0;
  h3 {
    font-size: 14pt;
  }
  .sidebar_custom-logo {
    margin-left: 100px;
    font-size: 24pt;
    h3 {
      margin: 0;
      font-weight: bolder;
      font-size: 16pt;
      padding-top: 20px;
    }
    img{
      width: 60px;
      height: 60px;
    }
  }
  li {
    font-size: 16pt;
  }
  .sidebar_custom-products {
    margin-left: 702px;
  }
  .sidebar_custom-projects, .sidebar_custom-contacts {
    margin-left: 45px;
  }
  .sidebar_custom-contacts {
    margin-right: 100px;
  }
}

