
.footer_custom {
  background: #3E3C3C;
  color: white;
  padding: 50px 200px 0 80px;
  .footer_custom-grid {
    display: grid;
    grid-template-columns: 50% 50%;

    .footer_custom-grid-mail_register {
      display: flex;
      flex-direction: column;
      width: 50%;

      .footer_custom-grid-mail_register-submit {
        width: 50%;
        background: #1C4D5D;
        border-radius: 5px;
        font-style: normal;
        margin-top: 25px;
        font-weight: 500;
        font-size: 18pt;
        line-height: 42px;
        color: white;
      }

      .p-inputtext {
        background-color: rgba(47, 47, 47, 0.5);
        border: solid 3px #000;
      }
      input:focus{
        outline: none!important;
        box-shadow: none!important;
      }
    }

  }
  .footer_custom-end {
    display: flex;
    flex-direction: row;

    h5 {
      margin-left: 30px;
      color: #969393;
      font-size: 12pt;
      margin-bottom: 10px;
    }
  }
}

