<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-item-avatar">
            <img  [src]="product.avatar" width="200px" height="130px" />
          </div>
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <p-rating [ngModel]="product.number" [readonly]="true" [cancel]="false"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.kind}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">{{product.price | number}}đ/{{product.dvt}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            <span [class]="'product-badge status-' ">{{product.inventoryStatus}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card" [routerLink]="product.id">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.kind}}</span>
            </div>
            <span [class]="'product-badge status-' + product.inventoryStatus">{{product.inventoryStatus}}</span>
          </div>
          <div class="product-grid-item-content" [style]="{'background-image':  + product.avatar }">
            <div class="product-name">{{product.name}}</div>
            <img  [src]="product.avatar" width="200px" height="130px" />

            <p-rating [ngModel]="4" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">{{product.price}}đ/{{product.dvt}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
