/* You can add global styles to this file, and also import other style files */
body{
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
.p-sidebar-header {
  display: none!important;
}
.p-component-overlay{
  visibility: hidden!important;
}
.p-sidebar-top {
  height: auto!important;
}
button{
  background: none;
  border: none;
}
button:focus{
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
