
.content {
  margin-top: 150px;
  .content-introduce {
    div {
      background-repeat: no-repeat;
      background-size: 100vw 720px;
      height: 720px;
      width: 100vw;
    }

    .content-introduce-block_link {
      width: 950px;
      height: 200px;
      background: rgba(77, 76, 76, 0.8);
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      button {
        color: white;
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        em {
          font-size: 24pt;
        }
        h4 {
          font-size: 24pt;
          margin-bottom: 0;
        }
      }
      .content-introduce-block_link-search_products {
        margin-left: 70px;
      }
      .content-introduce-block_link-deal {
        margin-right: 70px;
      }
    }
    h4 {
      width: 100%;
      text-align: center;
      font-weight: normal;
      font-size: 14pt;
    }
  }
  .content-introduce-1 {
    background-image: url("../../assets/image/home/introduce-1.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: changeIntroduce 6s infinite;
    div {
      margin-bottom: 20px;
    }
    .content-introduce-1-block_brand {
      width: 950px;
      height: 150px;
      background: rgba(77, 76, 76, 0.8);
      color: white;
      h1 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        animation: changeIntroduceText 6s infinite;
      }
      h4 {
        animation: changeIntroduceText 6s infinite;
      }
    }
  }
  .content-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .content-products-item {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 140px;
        height: 140px;

      }
      h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
      }
    }
  }
  .content-brand {
    background-image: url("../../assets/image/home/brand-bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 720px;
    height: 350px;
    margin-bottom: 100px;
    color:white;
    text-align: center;
    padding-top: 90px;
    h1 {
      text-transform: uppercase;
      margin-bottom: 90px;
    }
    p{
      font-size: 18pt;
      margin: 0 180px;
    }
  }
  .content-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    button {
      width: 440px;
      height: 330px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      background-repeat: no-repeat;
      background-size: 440px 330px;
      h1 {
        text-transform: uppercase;
      }
      p {
        display:none;
        font-size: 14pt;
      }

      &:hover {
        transition: p 2s linear;

        h1 {
          border-bottom: solid 5px white;
        }
        p {
          display: block;
        }
      }

    }
    .content-service-lat_hien {
      background-image: url("../../assets/image/home/lathien-service.png");

      &:hover {
        background: linear-gradient(rgba(14, 138, 177, 0.7), rgba(14, 138, 177, 0.7)),
        url("../../assets/image/home/lathien-service.png");
        background-size: 440px 330px;
      }

    }
    .content-service-sua_tuong {
      background-image: url("../../assets/image/home/suatuong-service.png");
      &:hover {
        background: linear-gradient(rgba(14, 138, 177, 0.7), rgba(14, 138, 177, 0.7)),
        url("../../assets/image/home/suatuong-service.png");
        background-size: 440px 330px;
      }
    }
    .content-service-xay_nha {
      background-image: url("../../assets/image/home/xaynha-service.png");
      &:hover {
        background: linear-gradient(rgba(14, 138, 177, 0.7), rgba(14, 138, 177, 0.7)),
        url("../../assets/image/home/xaynha-service.png");
        background-size: 440px 330px;
      }
    }
  }
  .content-place {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    height: 545px;
    color: white;
    .content-place-find {
      padding: 100px 70px;
      width: 100%;
      height: 100%;

      background:  linear-gradient(rgba(14, 138, 177, 0.7), rgba(14, 138, 177, 0.7)),
      url("../../assets/image/home/place-bg.png");
      background-size: 100% 100%;
      h1 {
        margin-bottom: 20px;
      }
      .content-place-find-hr {
        width: 120px;
        height: 1px;
        border-bottom: solid 10px #CFA50E;
        margin-bottom: 50px;
      }
      p {
        margin-bottom: 50px;
      }
    }
  }
  .content-association {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

  }
}

.fade-in {
  animation: fadeInDown 3s ;
  animation-iteration-count: 1;
}

@keyframes fadeInDown {
  0% {
    transform: scaleX(1.5);
  }
  99% {
    transform: scaleX(1);
  }
}

@keyframes changeIntroduce {
  0%  , 30% {
    background-image: url("../../assets/image/home/introduce-1.png");
  }
  50%  ,80% {
    background-image: url("../../assets/image/home/introduce-2.png");
  }
}
@keyframes changeIntroduceText {
  0%  , 30% {
    opacity: 100%;
  }
  49% {
    opacity: 0;
  }
  50%  ,80% {
    opacity: 100;
  }
  99% {
    opacity: 0;
  }
}
