
<div class="content">
  <div class="content-introduce parallax-window"   >
    <div class="content-introduce-1">
      <div class="content-introduce-1-block_brand" >
        <h1 #brandHeader>Xây dựng căn nhà trong mơ của bạn</h1>
        <h4 #brandDescription>Lối đi, sân trong, bếp ngoài trời,... của bạn sẽ trở nên cực kỳ hấp dẫn.</h4>
      </div>
      <div class="content-introduce-block_link"   >
        <button class="content-introduce-block_link-search_products"   >
          <em class="pi pi-search"></em>
          <h4>Tìm sản phẩm</h4>
        </button>
        <button class="content-introduce-block_link-browse_projects"   >
          <em class="pi pi-briefcase"></em>
          <h4>Duyệt dự án</h4>
        </button>
        <button class="content-introduce-block_link-deal"   >
          <em class="pi pi-dollar"></em>
          <h4>Thương lượng</h4>
        </button>
      </div>
    </div>
  </div>
  <div class="content-products fade-in"   #contentProducts>
    <div class="content-products-item">
      <img src="assets/image/home/gach-icon.png">
      <h4>Gạch xây dựng</h4>
    </div>
    <div class="content-products-item">
      <img src="assets/image/home/da-icon.png">
      <h4>Đá ốp lát cao cấp</h4>
    </div>
    <div class="content-products-item">
      <img src="assets/image/home/betong-icon.png">
      <h4>Sản phẩm bê tông</h4>
    </div>
    <div class="content-products-item">
      <img src="assets/image/home/thep-icon.png">
      <h4>Sắt thép xây dựng</h4>
    </div>
  </div>
  <div class="content-brand">
    <h1>Xây dựng vẻ đẹp trường tồn</h1>
    <p>Khách hàng của chúng tôi xây dựng các ngôi nhà, cao ốc và sân vườn đầy hấp dẫn, đứng vững trước thử thách của thời gian
      bằng cách sử dụng các sản phẩm xây dựng từ Tân Lập.</p>
  </div>
  <div class="content-service" routerLink="/product">
    <button class="content-service-lat_hien">
      <h1>Lát hiên</h1>
      <p>Từ xưa đến nay, một sân lát bằng phẳng có thể tạo ra một giai điệu đặc biệt cho không gian sống ngoài trời của bạn.</p>
    </button>
    <button class="content-service-sua_tuong">
      <h1>SỬA TƯỜNG</h1>
      <p>Nhiều nhà thiết kế hiện đang sử dụng tường
        để chuyển đổi sườn đồi thành không gian
        có thể sử dụng, thêm tường chỗ ngồi hoặc tạo
        khu vườn thẳng đứng. </p>
    </button>
    <button class="content-service-xay_nha">
      <h1>XÂY NHÀ</h1>
      <p>Turpis in eu mi bibendum neque egestas congue quisque egestas. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. </p>
    </button>
  </div>
  <div class="content-place">
    <div class="content-place-find">
      <h1>Vật liệu xây dựng Tân Lập</h1>
      <div class="content-place-find-hr"></div>
      <p>Thế giới là phòng trưng bày của chúng tôi và chúng tôi tự hào khi thấy
        các sản phẩm của mình trong cộng đồng.</p>
      <button pButton type="button" label="TÌM CHI NHÁNH GẦN VỚI BẠN"
              icon="pi pi-arrow-right"  iconPos="right"  class="p-button-secondary"
      ></button>
    </div>
    <img src="assets/image/home/map-branch.png" width="100%" height="100%">
  </div>
  <div class="content-association">
    <h1>ĐƠN VỊ HỢP TÁC</h1>
    <img src="../../assets/image/home/association.png" width="80%">
  </div>
</div>
