<div class="container">
  <h1>{{product?.name}}</h1>
  <hr style="border: 7px solid #FF7008; width: 100px"/>
</div>
<div class="product-description" [innerHTML]="product.description"></div>
<button pButton type="button" label="Liên hệ với chúng tôi" icon="pi pi-angle-right" iconPos="right" class="p-button-secondary"></button>
