<div class="p-grid" style="margin-top: 220px; padding-left: 100px">
  <div class="p-col-3" >
    <span class="p-input-icon-right w-full m-1">
      <input type="search" pInputText [(ngModel)]="filterForm.name" placeholder="Search" style="width: 100%">
      <i class="pi pi-search"></i>
    </span>
  </div>
  <div class="p-col-9 justify-content-start align-items-center" style="display: flex"><p class="m-1">Trang chủ / <b>Sản phẩm</b></p></div>
  <div class="p-col-3" >
    <div class="w-full m-1" style="background-color: #EDECEC; padding: 0; border-radius: 4px;">
    <div class="flex justify-content-between p-3 align-items-center"><h4 class="mt-2">Bộ lọc</h4>
      <a pButton pRipple type="button" label="Áp dụng" [routerLink]="['/product']" [queryParams]="{filterForm: json.stringify(filterForm)}" class="p-button-outlined"></a></div>
    <p-accordion  [multiple]="true">
      <p-accordionTab header="Sản phẩm" [selected]="true">
        <div class="p-field-checkbox">
          <p-checkbox id="gach" name="group1" [(ngModel)]="filterForm.kind" value="gach"  inputId="ny"></p-checkbox>
          <label for="gach">Gạch</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="daoplat" name="group1" [(ngModel)]="filterForm.kind" value="daoplat"  inputId="ny"></p-checkbox>
          <label for="daoplat">Đá ốp lát</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="ximang" name="group1" [(ngModel)]="filterForm.kind" value="ximang"  inputId="ny"></p-checkbox>
          <label for="ximang">Xi măng</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="sat" name="group1" [(ngModel)]="filterForm.kind" value="thep"  inputId="ny"></p-checkbox>
          <label for="sat">Sắt</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="thep" name="group1" [(ngModel)]="filterForm.kind" value="thep"  inputId="ny"></p-checkbox>
          <label for="thep">Thép</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="khac" name="group1" [(ngModel)]="filterForm.kind" value="khac"  inputId="ny"></p-checkbox>
          <label for="thep">Khác</label>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Giá" [selected]="true">
        <h5>Từ {{filterForm.rangeValues[0] | number }}đ đến {{filterForm.rangeValues[1] | number}}đ</h5>
        <p-slider [min]="1000" [(ngModel)]="filterForm.rangeValues" [range]="true" [max]="1000000"></p-slider>
      </p-accordionTab>
      <p-accordionTab header="Đơn vị tính" [selected]="true">
        <div class="p-field-checkbox">
          <p-checkbox id="chiec" name="group2" [(ngModel)]="filterForm.dvt" value="chiếc"  inputId="ny"></p-checkbox>
          <label for="thep">Chiếc</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="kg" name="group2" value="kg" [(ngModel)]="filterForm.dvt"  inputId="ny"></p-checkbox>
          <label for="kg">Kg</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="m2" name="group2" value="m2" [(ngModel)]="filterForm.dvt"  inputId="ny"></p-checkbox>
          <label for="m2">m2</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox id="khoi" name="group2" value="khoi" [(ngModel)]="filterForm.dvt"  inputId="ny"></p-checkbox>
          <label for="khoi">khối</label>
        </div>
      </p-accordionTab>
    </p-accordion>
    </div>
  </div>
  <div class="p-col-9" style="padding: 20px; border-top: 2px solid #797777"><router-outlet></router-outlet></div>
</div>
